on fs
    mount ext3 loop@userdata.ext3 /data nosuid nodev
    mount ext3 loop@cache.ext3 /cache nosuid nodev
    # Some hack here, remount media-store to change some parameters
    mount vfat none /boot/realroot remount uid=1000,gid=1015,dmask=0602,fmask=0602

on post-fs
    # allow system to modify audio control files
    chown media media /sys/devices/platform/twl4030_audio/scinit
    chown media media /sys/devices/platform/twl4030_audio/scrun
    chmod 0660 /sys/devices/platform/twl4030_audio/scinit
    chmod 0660 /sys/devices/platform/twl4030_audio/scrun

    # PM related settings
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand

    # WiFi related settings
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    setprop wifi.interface "eth0"

    # Load DSP driver
    insmod /system/lib/modules/bridgedriver.ko

on boot
    chmod 0666 /dev/DspBridge

# Service for WiFi
service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant -Dawext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
    #user wifi
    #group wifi inet
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot

# Serivce for DHCP
service dhcpcd_eth0 /system/bin/logwrapper /system/bin/dhcpcd -B
    disabled
    oneshot

# Start PowerVR SGX DDK
service pvr /system/bin/rc.pvr start

# load DSP firmware
service baseimage /system/bin/dspexec /system/lib/dsp/baseimage.dof
    user root
    group audio
    oneshot
